Repository dalyIsaac/Whim, pull requests merged in 2023-10, with the labels that each got.

#530 Fix multi-monitor support
  src/Whim/Native/CoreNativeManager.cs
  src/Whim/Native/ICoreNativeManager.cs
Labels: bug, core

#527 Minor bugfixes that prevented first time startup
  .gitignore
  src/Whim.Bar.Tests/BarLayoutEngineTests.cs
  src/Whim.Bar/BarLayoutEngine.cs
  src/Whim.FloatingLayout.Tests/FloatingLayoutPluginTests.cs
  src/Whim.Gaps.Tests/GapsLayoutEngineTests.cs
  src/Whim.Gaps/GapsLayoutEngine.cs
  src/Whim.LayoutPreview.Tests/LayoutPreviewPluginTests.cs
  src/Whim.LayoutPreview.Tests/NonNegativeValueConverterTests.cs
  src/Whim.LayoutPreview/LayoutPreviewWindowItem.xaml
  src/Whim.LayoutPreview/NonNegativeValueConverter.cs
  src/Whim.Tests/Workspace/WorkspaceManagerTests.cs
  src/Whim/ConfigLoader/ConfigLoader.cs
  src/Whim/Files/FileManager.cs
  src/Whim/Files/IFileManager.cs
  src/Whim/Monitor/IMonitor.cs
  src/Whim/Native/WindowExtensions.cs
  src/Whim/Workspace/Workspace.cs
Labels: bug, core, layout preview

#532 Migrate `Whim.TreeLayout.Tests` to NSubstitute
  src/Whim.TreeLayout.Tests/LayoutEngine/AddWindowTests.cs
  src/Whim.TreeLayout.Tests/LayoutEngine/BaseTests.cs
  src/Whim.TreeLayout.Tests/LayoutEngine/DoLayoutTests.cs
  src/Whim.TreeLayout.Tests/LayoutEngine/FocusWindowInDirectionTests.cs
  src/Whim.TreeLayout.Tests/LayoutEngine/GetFirstWindowTests.cs
  src/Whim.TreeLayout.Tests/LayoutEngine/MoveWindowEdgesInDirectionTests.cs
  src/Whim.TreeLayout.Tests/LayoutEngine/MoveWindowToPointTests.cs
  src/Whim.TreeLayout.Tests/LayoutEngine/PropertiesTests.cs
  src/Whim.TreeLayout.Tests/LayoutEngine/RemoveTests.cs
  src/Whim.TreeLayout.Tests/LayoutEngine/SwapWindowInDirectionTests.cs
  src/Whim.TreeLayout.Tests/Tree/SplitNodeTests.cs
  src/Whim.TreeLayout.Tests/Tree/TreeHelpersTests.cs
  src/Whim.TreeLayout.Tests/Tree/WindowNodeTests.cs
  src/Whim.TreeLayout.Tests/TreeLayoutCommandsTests.cs
  src/Whim.TreeLayout.Tests/TreeLayoutPluginTests.cs
  src/Whim.TreeLayout.Tests/Utils/LayoutEngineWrapper.cs
  src/Whim.TreeLayout.Tests/Utils/SimpleTestTree.cs
  src/Whim.TreeLayout.Tests/Utils/TestTree.cs
Labels: refactor, tests

#534 Migrate `Whim.LayoutPreview.Tests` to NSubstitute
  src/Whim.LayoutPreview.Tests/LayoutPreviewCommandsTests.cs
  src/Whim.LayoutPreview.Tests/LayoutPreviewPluginTests.cs
  src/Whim.LayoutPreview.Tests/LayoutPreviewWindowTests.cs
Labels: refactor, tests

#536 Migrate `Whim.TreeLayout.Bar.Tests` to NSubstitute
  src/Whim.TreeLayout.Bar.Tests/ToggleDirectionCommandTests.cs
  src/Whim.TreeLayout.Bar.Tests/TreeLayoutBarPluginTests.cs
  src/Whim.TreeLayout.Bar.Tests/TreeLayoutEngineWidgetViewModelTests.cs
  src/Whim.TreeLayout.Bar.Tests/Whim.TreeLayout.Bar.Tests.csproj
Labels: refactor, tests

#541 Complete migration to NSubstitute
  Directory.Packages.props
  THIRD-PARTY-NOTICES.TXT
  src/Whim.Bar.Tests/Whim.Bar.Tests.csproj
  src/Whim.Bar.Tests/Workspace/SwitchWorkspaceCommandTests.cs
  src/Whim.Bar.Tests/Workspace/WorkspaceWidgetViewModelTests.cs
  src/Whim.CommandPalette.Tests/Whim.CommandPalette.Tests.csproj
  src/Whim.FloatingLayout.Tests/FloatingLayoutCommandsTests.cs
  src/Whim.FloatingLayout.Tests/FloatingLayoutEngineTests.cs
  src/Whim.FloatingLayout.Tests/FloatingLayoutPluginTests.cs
  src/Whim.FloatingLayout.Tests/Whim.FloatingLayout.Tests.csproj
  src/Whim.Gaps.Tests/Whim.Gaps.Tests.csproj
  src/Whim.LayoutPreview.Tests/Whim.LayoutPreview.Tests.csproj
  src/Whim.TestUtils/LayoutEngineBaseTests.cs
  src/Whim.TestUtils/ProxyLayoutEngineBaseTests.cs
  src/Whim.TestUtils/Whim.TestUtils.csproj
  src/Whim.Tests/Whim.Tests.csproj
  src/Whim.TreeLayout.Bar.Tests/Whim.TreeLayout.Bar.Tests.csproj
  src/Whim.TreeLayout.CommandPalette.Tests/TreeLayoutCommandPaletteCommandsTests.cs
  src/Whim.TreeLayout.CommandPalette.Tests/TreeLayoutCommandPalettePluginTests.cs
  src/Whim.TreeLayout.CommandPalette.Tests/Whim.TreeLayout.CommandPalette.Tests.csproj
  src/Whim.TreeLayout.Tests/Whim.TreeLayout.Tests.csproj
Labels: refactor, tests

#543 Remove multithreading for layouts
  src/Whim.Bar.Tests/BarPluginTests.cs
  src/Whim.Bar/BarPlugin.cs
  src/Whim.Tests/Monitor/MonitorManagerTests.cs
  src/Whim.Tests/Workspace/WorkspaceManagerTests.cs
  src/Whim.Tests/Workspace/WorkspaceTestUtils.cs
  src/Whim.Tests/Workspace/WorkspaceTests.cs
  src/Whim/Context/IInternalContext.cs
  src/Whim/Context/InternalContext.cs
  src/Whim/Monitor/MonitorManager.cs
  src/Whim/Native/CoreNativeManager.cs
  src/Whim/Native/ICoreNativeManager.cs
  src/Whim/Workspace/IInternalWorkspace.cs
  src/Whim/Workspace/IWorkspace.cs
  src/Whim/Workspace/Workspace.cs
  src/Whim/Workspace/WorkspaceManager.cs
Labels: bug, core

#553 Prevent STA reentrancy, and improve DoLayout performance
  Directory.Packages.props
  src/Whim.Bar/BarPlugin.cs
  src/Whim.CommandPalette/CommandPaletteWindow.xaml.cs
  src/Whim.FocusIndicator/FocusIndicatorWindow.xaml.cs
  src/Whim.LayoutPreview.Tests/LayoutPreviewWindowTests.cs
  src/Whim.LayoutPreview/LayoutPreviewWindow.xaml.cs
  src/Whim.Tests/Native/DeferWindowPosHandleTests.cs
  src/Whim.Tests/Native/DeferWindowPosManagerTests.cs
  src/Whim.Tests/Native/HDWPTests.cs
  src/Whim.Tests/Native/WindowDeferPosHandleTests.cs
  src/Whim.Tests/Workspace/WorkspaceTests.cs
  src/Whim/Context/IInternalContext.cs
  src/Whim/Context/InternalContext.cs
  src/Whim/Native/CoreNativeManager.cs
  src/Whim/Native/DeferWindowPosHandle.cs
  src/Whim/Native/DeferWindowPosManager.cs
  src/Whim/Native/HDWP.cs
  src/Whim/Native/ICoreNativeManager.cs
  src/Whim/Native/IDeferWindowPosManager.cs
  src/Whim/Native/INativeManager.cs
  src/Whim/Native/NativeManager.cs
  src/Whim/Native/WindowDeferPosHandle.cs
  src/Whim/NativeMethods.txt
  src/Whim/Whim.csproj
  src/Whim/Window/WindowManager.cs
  src/Whim/Workspace/Workspace.cs
Labels: enhancement, core, performance

#557 Update readme
  .github/workflows/commit.yml
  .github/workflows/release.yml
  .vscode/extensions.json
  .vscode/launch.json
  .vscode/tasks.json
  README.md
  src/Whim/Whim.csproj
Labels: documentation
