Repository dalyIsaac/Whim, pull requests merged in 2024-10, with the labels that each got.

#1039 Fix `SliceLayouts.CreateColumnLayout` creating a row layout
  src/Whim.SliceLayout.Tests/AreaHelpers/DoLayoutTests.cs
  src/Whim.SliceLayout.Tests/SliceLayoutEngine/AreaTests.cs
  src/Whim.SliceLayout.Tests/SliceLayoutEngine/SliceLayoutEngineTests.cs
  src/Whim.SliceLayout.Tests/SliceLayoutsTests.cs
  src/Whim.SliceLayout/SliceLayoutEngine.cs
  src/Whim.SliceLayout/SliceLayouts.cs
  src/Whim.Tests/Store/MonitorSector/MonitorEventListenerTests.cs
  src/Whim/Store/MonitorSector/MonitorEventListener.cs
Labels: bug, slice layout

#1041 Handle Komorebi app rules rename
  app_rules/generate_app_rules.py
Labels: auto app rules, engineering

#1044 Automated app-rules upgrades
  src/Whim/Filter/DefaultFilteredWindowsKomorebi.g.cs
Labels: auto app rules

#1042 Add format rules for Python
  .github/workflows/commit.yml
  .ruff.toml
Labels: auto app rules, engineering

#1035 Layout engine YAML config
  .config/dotnet-tools.json
  docs/docs/customize/yaml.md
  scripts/Generate-SourceFromSchema.ps1
  src/Whim.SliceLayout.Tests/SliceLayoutEngine/SliceLayoutEngineTests.cs
  src/Whim.SliceLayout.Tests/SliceLayoutsTests.cs
  src/Whim.Yaml.Tests/Layouts/YamlLayoutEngineLoaderTests.cs
  src/Whim.Yaml.Tests/Layouts/YamlLayoutEngineLoader_SliceLayoutEngineTests.cs
  src/Whim.Yaml.Tests/Layouts/YamlLayoutEngineLoader_TreeLayoutEngineTests.cs
  src/Whim.Yaml.Tests/Plugins/YamlLoader_CommandPalettePluginTests.cs
  src/Whim.Yaml.Tests/Plugins/YamlLoader_LoadFocusIndicatorPluginTests.cs
  src/Whim.Yaml.Tests/Plugins/YamlLoader_LoadLayoutPreviewPluginTests.cs
  src/Whim.Yaml.Tests/Plugins/YamlLoader_LoadUpdaterPluginTests.cs
  src/Whim.Yaml.Tests/Plugins/YamlLoader_SliceLayoutPluginTests.cs
  src/Whim.Yaml.Tests/Plugins/YamlLoader_TreeLayoutPluginTests.cs
  src/Whim.Yaml.Tests/Plugins/YamlPluginLoader_GapsPluginTests.cs
  src/Whim.Yaml.Tests/YamlLoader/YamlLoaderTests.cs
  src/Whim.Yaml.Tests/YamlLoader/YamlLoaderUtilsTests.cs
  src/Whim.Yaml.Tests/YamlLoader/YamlLoader_LoadFiltersTests.cs
  src/Whim.Yaml.Tests/YamlLoader/YamlLoader_LoadKeybindsTests.cs
  src/Whim.Yaml.Tests/YamlLoader/YamlLoader_LoadRoutersTests.cs
  src/Whim.Yaml.Tests/YamlLoaderTestUtils.cs
  src/Whim.Yaml/Whim.Yaml.csproj
  src/Whim.Yaml/YamlLayoutEngineLoader.cs
  src/Whim.Yaml/YamlLoader.cs
  src/Whim.Yaml/YamlLoaderUtils.cs
  src/Whim.Yaml/YamlPluginLoader.cs
  src/Whim.Yaml/schema.json
  src/Whim/Whim.csproj
Labels: enhancement, core, declarative config

#1048 Workspaces YAML config
  docs/_includes/core/styling.md
  docs/_includes/core/workspace-overview.md
  docs/_includes/plugins/command-palette.md
  docs/_includes/plugins/focus-indicator.md
  docs/_includes/plugins/gaps.md
  docs/_includes/plugins/layout-preview.md
  docs/_includes/plugins/slice-layout.md
  docs/_includes/plugins/tree-layout.md
  docs/_includes/plugins/updater.md
  docs/configure/core/styling.md
  docs/configure/core/workspaces.md
  docs/configure/plugins/command-palette.md
  docs/configure/plugins/focus-indicator.md
  docs/configure/plugins/gaps.md
  docs/configure/plugins/layout-preview.md
  docs/configure/plugins/slice-layout.md
  docs/configure/plugins/tree-layout.md
  docs/configure/plugins/updater.md
  docs/docfx.json
  docs/script/core/styling.md
  docs/script/core/workspaces.md
  docs/script/plugins/command-palette.md
  docs/script/plugins/focus-indicator.md
  docs/script/plugins/gaps.md
  docs/script/plugins/layout-preview.md
  docs/script/plugins/slice-layout.md
  docs/script/plugins/tree-layout.md
  docs/script/plugins/updater.md
  src/Whim.Yaml.Tests/Layouts/YamlLayoutEngineLoaderTests.cs
  src/Whim.Yaml.Tests/Layouts/YamlLayoutEngineLoader_SliceLayoutEngineTests.cs
  src/Whim.Yaml.Tests/Layouts/YamlLayoutEngineLoader_TreeLayoutEngineTests.cs
  src/Whim.Yaml.Tests/YamlLoader/YamlLoader_LoadWorkspacesTests.cs
  src/Whim.Yaml.Tests/YamlLoaderTestUtils.cs
  src/Whim.Yaml/YamlLayoutEngineLoader.cs
  src/Whim.Yaml/YamlLoader.cs
  src/Whim.Yaml/schema.json
Labels: enhancement, declarative config

#1050 BarPlugin YAML config
  docs/configure/core/styling.md
  docs/configure/plugins/bar.md
  docs/configure/plugins/command-palette.md
  docs/script/plugins/bar.md
  src/Whim.Bar/ActiveLayout/ActiveLayoutWidget.xaml.cs
  src/Whim.Bar/BarConfig.cs
  src/Whim.Bar/BarPlugin.cs
  src/Whim.Bar/BarWindow.xaml.cs
  src/Whim.Bar/Battery/BatteryWidget.xaml.cs
  src/Whim.Bar/DateTime/DateTimeWidget.xaml.cs
  src/Whim.Bar/FocusedWindow/FocusedWindowWidget.xaml.cs
  src/Whim.Bar/IBarPlugin.cs
  src/Whim.Bar/Whim.Bar.csproj
  src/Whim.Bar/Workspace/WorkspaceWidget.xaml.cs
  src/Whim.TreeLayout.Bar/TreeLayoutBarPlugin.cs
  src/Whim.Yaml.Tests/Plugins/YamlLoader_LoadBarPluginTests.cs
  src/Whim.Yaml.Tests/Plugins/YamlLoader_LoadCommandPalettePluginTests.cs
  src/Whim.Yaml.Tests/Plugins/YamlLoader_LoadGapsPluginTests.cs
  src/Whim.Yaml.Tests/Plugins/YamlLoader_LoadSliceLayoutPluginTests.cs
  src/Whim.Yaml.Tests/Plugins/YamlLoader_LoadTreeLayoutPluginTests.cs
  src/Whim.Yaml/Whim.Yaml.csproj
  src/Whim.Yaml/YamlBarPluginLoader.cs
  src/Whim.Yaml/YamlPluginLoader.cs
  src/Whim.Yaml/schema.json
Labels: enhancement, declarative config

#1053 Change layout engine YAML config to snake case
  docs/configure/core/layout-engines.md
  src/Whim.Yaml.Tests/Layouts/YamlLayoutEngineLoaderTests.cs
  src/Whim.Yaml.Tests/Layouts/YamlLayoutEngineLoader_SliceLayoutEngineTests.cs
  src/Whim.Yaml.Tests/Layouts/YamlLayoutEngineLoader_TreeLayoutEngineTests.cs
  src/Whim.Yaml.Tests/YamlLoader/YamlLoader_LoadWorkspacesTests.cs
  src/Whim.Yaml/schema.json
Labels: refactor, declarative config

#1057 Automated app-rules upgrades
  src/Whim/Filter/DefaultFilteredWindowsKomorebi.g.cs
Labels: auto app rules

#1055 FloatingLayout YAML config
  docs/_includes/plugins/floating-window.md
  docs/configure/plugins/floating-window.md
  docs/configure/plugins/overview.md
  docs/configure/toc.yml
  docs/index.md
  docs/intro/plugins.md
  docs/script/plugins/floating-window.md
  docs/script/plugins/tree-layout.md
  src/Whim.Yaml.Tests/Layouts/YamlLayoutEngineLoaderTests.cs
  src/Whim.Yaml.Tests/Layouts/YamlLayoutEngineLoader_FloatingLayoutEngineTests.cs
  src/Whim.Yaml.Tests/Layouts/YamlLayoutEngineLoader_FocusLayoutEngineTests.cs
  src/Whim.Yaml.Tests/Plugins/YamlLoader_LoadFloatingWindowPluginTests.cs
  src/Whim.Yaml/Whim.Yaml.csproj
  src/Whim.Yaml/YamlBarPluginLoader.cs
  src/Whim.Yaml/YamlLayoutEngineLoader.cs
  src/Whim.Yaml/YamlPluginLoader.cs
  src/Whim.Yaml/schema.json
Labels: enhancement, declarative config

#1058 Restore ProxyFloatingLayoutEngine functionality
  src/Whim.FloatingWindow.Tests/BaseProxyFloatingLayoutEngineTests.cs
  src/Whim.FloatingWindow.Tests/FloatingLayoutEngineTests.cs
  src/Whim.FloatingWindow.Tests/FloatingUtilsTests.cs
  src/Whim.FloatingWindow.Tests/FloatingWindowPluginTests.cs
  src/Whim.FloatingWindow.Tests/GlobalSuppressions.cs
  src/Whim.FloatingWindow.Tests/ProxyFloatingLayoutEngineTests.cs
  src/Whim.FloatingWindow/FloatingUtils.cs
  src/Whim.FloatingWindow/FloatingWindowPlugin.cs
  src/Whim.FloatingWindow/IFloatingWindowPlugin.cs
  src/Whim.FloatingWindow/IInternalFloatingWindowPlugin.cs
  src/Whim.FloatingWindow/ProxyFloatingLayoutEngine.cs
  src/Whim.Gaps.Tests/GapsLayoutEngineTests.cs
  src/Whim.Gaps/GapsLayoutEngine.cs
  src/Whim.TestUtils/Whim.TestUtils.csproj
  src/Whim.Tests/Store/WorkspaceSector/WorkspacePickersTests.cs
  src/Whim.Yaml.Tests/Plugins/YamlLoader_LoadFloatingWindowPluginTests.cs
  src/Whim.Yaml/YamlPluginLoader.cs
  src/Whim/Commands/CoreCommands.cs
  src/Whim/Store/MapSector/Transforms/MoveWindowToPointTransform.cs
  src/Whim/Store/WorkspaceSector/Transforms/FocusWindowInDirectionTransform.cs
  src/Whim/Store/WorkspaceSector/Transforms/MinimizeWindowEndTransform.cs
  src/Whim/Store/WorkspaceSector/Transforms/MinimizeWindowStartTransform.cs
  src/Whim/Store/WorkspaceSector/Transforms/MoveWindowEdgesInDirectionWorkspaceTransform.cs
  src/Whim/Store/WorkspaceSector/Transforms/MoveWindowToPointInWorkspaceTransform.cs
  src/Whim/Store/WorkspaceSector/Transforms/SwapWindowInDirectionTransform.cs
  src/Whim/Store/WorkspaceSector/WorkspacePickers.cs
  src/Whim/Store/WorkspaceSector/WorkspaceSector.cs
  src/Whim/Store/WorkspaceSector/WorkspaceUtils.cs
Labels: bug, floating windows

#1060 Add CommandPalette TreeLayout commands to declarative config
  docs/_includes/plugins/tree-layout-command-palette.md
  docs/configure/plugins/command-palette.md
  docs/script/plugins/tree-layout-command-palette.md
  src/Whim.Yaml.Tests/Plugins/YamlLoader_LoadCommandPalettePluginTests.cs
  src/Whim.Yaml/Whim.Yaml.csproj
  src/Whim.Yaml/YamlPluginLoader.cs
Labels: enhancement, declarative config

#1062 Report YAML errors during runtime
  docs/configure/yaml-json-configuration.md
  src/Whim.Runner/Whim.Runner.csproj
  src/Whim.Yaml.Tests/Layouts/YamlLayoutEngineLoaderTests.cs
  src/Whim.Yaml.Tests/Layouts/YamlLayoutEngineLoader_FloatingLayoutEngineTests.cs
  src/Whim.Yaml.Tests/Layouts/YamlLayoutEngineLoader_FocusLayoutEngineTests.cs
  src/Whim.Yaml.Tests/Layouts/YamlLayoutEngineLoader_SliceLayoutEngineTests.cs
  src/Whim.Yaml.Tests/Layouts/YamlLayoutEngineLoader_TreeLayoutEngineTests.cs
  src/Whim.Yaml.Tests/Plugins/YamlLoader_LoadBarPluginTests.cs
  src/Whim.Yaml.Tests/Plugins/YamlLoader_LoadCommandPalettePluginTests.cs
  src/Whim.Yaml.Tests/Plugins/YamlLoader_LoadFloatingWindowPluginTests.cs
  src/Whim.Yaml.Tests/Plugins/YamlLoader_LoadFocusIndicatorPluginTests.cs
  src/Whim.Yaml.Tests/Plugins/YamlLoader_LoadGapsPluginTests.cs
  src/Whim.Yaml.Tests/Plugins/YamlLoader_LoadLayoutPreviewPluginTests.cs
  src/Whim.Yaml.Tests/Plugins/YamlLoader_LoadSliceLayoutPluginTests.cs
  src/Whim.Yaml.Tests/Plugins/YamlLoader_LoadTreeLayoutPluginTests.cs
  src/Whim.Yaml.Tests/Plugins/YamlLoader_LoadUpdaterPluginTests.cs
  src/Whim.Yaml.Tests/YamlLoader/YamlLoaderTests.cs
  src/Whim.Yaml.Tests/YamlLoader/YamlLoader_LoadFiltersTests.cs
  src/Whim.Yaml.Tests/YamlLoader/YamlLoader_LoadKeybindsTests.cs
  src/Whim.Yaml.Tests/YamlLoader/YamlLoader_LoadRoutersTests.cs
  src/Whim.Yaml.Tests/YamlLoader/YamlLoader_LoadWorkspacesTests.cs
  src/Whim.Yaml/ErrorWindow.xaml
  src/Whim.Yaml/ErrorWindow.xaml.cs
  src/Whim.Yaml/Whim.Yaml.csproj
  src/Whim.Yaml/YamlLoader.cs
Labels: enhancement, yaml/json config
