Repository dalyIsaac/Whim, pull requests merged in 2024-01, with the labels that each got.

#751 Move minimized windows logic to `ILayoutEngine` implementations
  README.md
  src/Whim.Bar.Tests/BarLayoutEngineTests.cs
  src/Whim.Bar/BarLayoutEngine.cs
  src/Whim.CommandPalette/Model/IVariantRowViewExtensions.cs
  src/Whim.CommandPalette/Variants/Menu/MenuVariantRowView.xaml.cs
  src/Whim.FloatingLayout.Tests/FloatingLayoutEngineTests.cs
  src/Whim.FloatingLayout/FloatingLayoutEngine.cs
  src/Whim.Gaps.Tests/GapsLayoutEngineTests.cs
  src/Whim.Gaps/GapsLayoutEngine.cs
  src/Whim.SliceLayout.Tests/AreaHelpers/DoLayout.cs
  src/Whim.SliceLayout.Tests/SliceLayoutEngine/MoveWindowToPointTests.cs
  src/Whim.SliceLayout.Tests/SliceLayoutEngine/SliceLayoutEngineTests.cs
  src/Whim.SliceLayout/SliceLayoutEngine.cs
  src/Whim.SliceLayout/SliceLayoutEngineHelpers.cs
  src/Whim.TestUtils/TestLayoutEngine.cs
  src/Whim.Tests/Layout/ColumnLayoutEngineTests.cs
  src/Whim.Tests/Window/WindowManagerTests.cs
  src/Whim.Tests/Workspace/WorkspaceManagerTests.cs
  src/Whim.Tests/Workspace/WorkspaceTests.cs
  src/Whim.TreeLayout.Tests/LayoutEngine/AddWindowTests.cs
  src/Whim.TreeLayout.Tests/LayoutEngine/DoLayoutTests.cs
  src/Whim.TreeLayout.Tests/LayoutEngine/MinimizeWindowTests.cs
  src/Whim.TreeLayout.Tests/LayoutEngine/RemoveTests.cs
  src/Whim.TreeLayout/TreeLayoutEngine.cs
  src/Whim/Layout/BaseProxyLayoutEngine.cs
  src/Whim/Layout/ColumnLayoutEngine.cs
  src/Whim/Layout/ILayoutEngine.cs
  src/Whim/Native/DeferWindowPosHandle.cs
  src/Whim/Window/WindowManager.cs
  src/Whim/Workspace/IInternalWorkspace.cs
  src/Whim/Workspace/IWorkspace.cs
  src/Whim/Workspace/Workspace.cs
  src/Whim/Workspace/WorkspaceManager.cs
Labels: enhancement, core

#752 FocusLayoutEngine
  README.md
  src/Whim.Tests/Commands/CoreCommandsTests.cs
  src/Whim.Tests/Layout/FocusLayoutEngineTests.cs
  src/Whim.Tests/Workspace/WorkspaceTests.cs
  src/Whim/Commands/Command.cs
  src/Whim/Commands/CoreCommands.cs
  src/Whim/Layout/ColumnLayoutEngine.cs
  src/Whim/Layout/FocusLayoutEngine.cs
  src/Whim/Template/whim.config.csx
  src/Whim/Workspace/Workspace.cs
Labels: enhancement, core layout engine

#754 Account for monitor translation when converting coordinate system
  src/Whim.LayoutPreview/LayoutPreviewPlugin.cs
  src/Whim.Tests/Monitor/MonitorHelpersTests.cs
  src/Whim/Monitor/IMonitor.cs
Labels: bug, floating layout

#756 Add battery widget for the Bar
  src/Whim.Bar.Tests/Battery/BatteryWidgetIcons.cs
  src/Whim.Bar/ActiveLayout/ActiveLayoutWidget.xaml.cs
  src/Whim.Bar/Battery/BatteryWidget.xaml
  src/Whim.Bar/Battery/BatteryWidget.xaml.cs
  src/Whim.Bar/Battery/BatteryWidgetIcons.cs
  src/Whim.Bar/Battery/BatteryWidgetViewModel.cs
  src/Whim/Resources/Defaults.xaml
  src/Whim/Template/whim.config.csx
Labels: enhancement, bar

#761 Remove unused method, and fix coordinate space conversion
  src/Whim.Tests/Monitor/MonitorHelpersTests.cs
  src/Whim/Monitor/IMonitor.cs
  src/Whim/Workspace/WorkspaceManager.cs
Labels: core, auto app rules

#766 Automated app-rules upgrades
  src/Whim/Filter/DefaultFilteredWindowsKomorebi.g.cs
Labels: auto app rules

#757 Substitute WHIM_PATH when loading user config
  README.md
  src/Whim/ConfigLoader/ConfigLoader.cs
Labels: enhancement, engineering

#769 Increases debug logging for WindowFocused events
  src/Whim/Window/WindowManager.cs
Labels: core, logging

#759 Last active layout
  src/Whim.Bar.Tests/ActiveLayout/NextLayoutEngineCommandTests.cs
  src/Whim.Bar/ActiveLayout/NextLayoutEngineCommand.cs
  src/Whim.Tests/Workspace/WorkspaceManagerTests.cs
  src/Whim.Tests/Workspace/WorkspaceTests.cs
  src/Whim/Workspace/IWorkspace.cs
  src/Whim/Workspace/Workspace.cs
Labels: enhancement, core

#772 Always focus windows in `FocusLayout`
  src/Whim.Tests/Layout/FocusLayoutEngineTests.cs
  src/Whim/Layout/FocusLayoutEngine.cs
Labels: bug, core layout engine, core

#758 Introduce the `Butler`, refactor `WorkspaceManager`
  src/Whim.TestUtils/Assert.cs
  src/Whim.Tests/Butler/ButlerEventHandlersTests.cs
  src/Whim.Tests/Butler/ButlerPantryTests.cs
  src/Whim.Tests/Butler/ButlerTests.cs
  src/Whim.Tests/Window/WindowManagerTests.cs
  src/Whim.Tests/Workspace/WorkspaceManagerTests.cs
  src/Whim.Tests/Workspace/WorkspaceTests.cs
  src/Whim/Butler/Butler.cs
  src/Whim/Butler/ButlerChores.cs
  src/Whim/Butler/ButlerEventHandlers.cs
  src/Whim/Butler/ButlerPantry.cs
  src/Whim/Butler/ButlerTriggers.cs
  src/Whim/Butler/IButler.cs
  src/Whim/Butler/IButlerChores.cs
  src/Whim/Butler/IButlerPantry.cs
  src/Whim/Context/Context.cs
  src/Whim/Context/IContext.cs
  src/Whim/Context/IInternalContext.cs
  src/Whim/Context/InternalContext.cs
  src/Whim/Window/WindowManager.cs
  src/Whim/Workspace/IInternalWorkspaceManager.cs
  src/Whim/Workspace/IWorkspace.cs
  src/Whim/Workspace/IWorkspaceManager.cs
  src/Whim/Workspace/Workspace.cs
  src/Whim/Workspace/WorkspaceManager.cs
Labels: refactor, core

#776 Fix list index out of range exception in `FocusLayoutEngine`
  src/Whim.Tests/Layout/FocusLayoutEngineTests.cs
  src/Whim/Layout/FocusLayoutEngine.cs
Labels: bug, core layout engine, core

#779 Fix window focus during `MinimizeWindowEnd`
  src/Whim.FocusIndicator/FocusIndicatorPlugin.cs
  src/Whim.LayoutPreview.Tests/LayoutPreviewWindowTests.cs
  src/Whim.Tests/Native/DeferWindowPosHandleTests.cs
  src/Whim.Tests/Native/DeferWindowPosManagerTests.cs
  src/Whim.Tests/Workspace/WorkspaceTests.cs
  src/Whim/Native/DeferWindowPosHandle.cs
  src/Whim/Native/DeferWindowPosManager.cs
  src/Whim/Native/IDeferWindowPosManager.cs
  src/Whim/Window/WindowManager.cs
  src/Whim/Workspace/Workspace.cs
Labels: bug, core

#780 Dispose WorkspaceManager when disposing Context
  src/Whim/Context/Context.cs
  src/Whim/Native/DeferWindowPosHandle.cs
Labels: bug, core

#788 Account for monitor scaling in `Whim.LayoutPreview`
  src/Whim.LayoutPreview/LayoutPreviewWindow.xaml.cs
  src/Whim.LayoutPreview/LayoutPreviewWindowItem.xaml
  src/Whim.LayoutPreview/LayoutPreviewWindowItem.xaml.cs
Labels: bug, layout preview

#791 Add minimized windows to the appropriate workspace
  src/Whim.Tests/Butler/ButlerEventHandlersTests.cs
  src/Whim.Tests/Monitor/MonitorManagerTests.cs
  src/Whim/Butler/ButlerEventHandlers.cs
  src/Whim/Monitor/IInternalMonitorManager.cs
  src/Whim/Monitor/MonitorManager.cs
Labels: bug, core

#794 Remove locks in `Workspace`
  src/Whim/Workspace/Workspace.cs
Labels: refactor, core

#795 Automated app-rules upgrades
  src/Whim/Filter/DefaultFilteredWindowsKomorebi.g.cs
Labels: auto app rules

#799 Build in basic commands to cycle layouts
  src/Whim.Tests/Commands/CoreCommandsTests.cs
  src/Whim/Commands/CoreCommands.cs
Labels: enhancement, core

#801 Bump Whim version to 0.5.0
  src/Whim.Bar.Tests/Whim.Bar.Tests.csproj
  src/Whim.Bar/Whim.Bar.csproj
  src/Whim.CommandPalette.Tests/Whim.CommandPalette.Tests.csproj
  src/Whim.CommandPalette/Whim.CommandPalette.csproj
  src/Whim.FloatingLayout.Tests/Whim.FloatingLayout.Tests.csproj
  src/Whim.FloatingLayout/Whim.FloatingLayout.csproj
  src/Whim.FocusIndicator/Whim.FocusIndicator.csproj
  src/Whim.Gaps.Tests/Whim.Gaps.Tests.csproj
  src/Whim.Gaps/Whim.Gaps.csproj
  src/Whim.LayoutPreview.Tests/Whim.LayoutPreview.Tests.csproj
  src/Whim.LayoutPreview/Whim.LayoutPreview.csproj
  src/Whim.Runner/Whim.Runner.csproj
  src/Whim.SliceLayout.Tests/Whim.SliceLayout.Tests.csproj
  src/Whim.SliceLayout/Whim.SliceLayout.csproj
  src/Whim.TestUtils/Whim.TestUtils.csproj
  src/Whim.Tests/Whim.Tests.csproj
  src/Whim.TreeLayout.Bar.Tests/Whim.TreeLayout.Bar.Tests.csproj
  src/Whim.TreeLayout.Bar/Whim.TreeLayout.Bar.csproj
  src/Whim.TreeLayout.CommandPalette.Tests/Whim.TreeLayout.CommandPalette.Tests.csproj
  src/Whim.TreeLayout.CommandPalette/Whim.TreeLayout.CommandPalette.csproj
  src/Whim.TreeLayout.Tests/Whim.TreeLayout.Tests.csproj
  src/Whim.TreeLayout/Whim.TreeLayout.csproj
  src/Whim.Updater.Tests/Whim.Updater.Tests.csproj
  src/Whim.Updater/Whim.Updater.csproj
  src/Whim/Whim.csproj
Labels: whim version

#796 Remove `DoLayout` calls from `Workspace`
  src/Whim.Bar.Tests/ActiveLayout/NextLayoutEngineCommandTests.cs
  src/Whim.Bar/ActiveLayout/NextLayoutEngineCommand.cs
  src/Whim.CommandPalette.Tests/CommandPaletteCommandsTests.cs
  src/Whim.CommandPalette/CommandPaletteCommands.cs
  src/Whim.FloatingLayout.Tests/FloatingLayoutPluginTests.cs
  src/Whim.FloatingLayout/FloatingLayoutPlugin.cs
  src/Whim.SliceLayout.Tests/SliceLayoutPluginTests.cs
  src/Whim.SliceLayout/SliceLayoutPlugin.cs
  src/Whim.Tests/Butler/ButlerEventHandlersTests.cs
  src/Whim.Tests/Butler/ButlerTests.cs
  src/Whim.Tests/Commands/CoreCommandsTests.cs
  src/Whim.Tests/Workspace/WorkspaceManagerTests.cs
  src/Whim.Tests/Workspace/WorkspaceTests.cs
  src/Whim.TreeLayout.Tests/LayoutEngine/RemoveTests.cs
  src/Whim.TreeLayout/TreeLayoutEngine.cs
  src/Whim/Butler/ButlerChores.cs
  src/Whim/Butler/ButlerEventHandlers.cs
  src/Whim/Commands/CoreCommands.cs
  src/Whim/Native/DeferWindowPosHandle.cs
  src/Whim/Workspace/IWorkspace.cs
  src/Whim/Workspace/Workspace.cs
Labels: refactor, core

#806 Handle `AccessViolationException` in `BarPlugin`
  src/Whim.Bar/BarPlugin.cs
Labels: bug, bar

#808 Refactor `Workspace.DoLayout` to facilitate testing
  src/Whim.Tests/Workspace/DeferWorkspacePosManagerTests.cs
  src/Whim.Tests/Workspace/WorkspaceManagerTests.cs
  src/Whim.Tests/Workspace/WorkspaceTests.cs
  src/Whim/Context/IInternalContext.cs
  src/Whim/Context/InternalContext.cs
  src/Whim/Workspace/DeferWorkspacePosManager.cs
  src/Whim/Workspace/IDeferWorkspacePosManager.cs
  src/Whim/Workspace/Workspace.cs
Labels: refactor, core

#809 Call `DoLayout` for external calls
  src/Whim.FloatingLayout.Tests/FloatingLayoutPluginTests.cs
  src/Whim.FloatingLayout/FloatingLayoutPlugin.cs
  src/Whim.SliceLayout.Tests/SliceLayoutPluginTests.cs
  src/Whim.SliceLayout/SliceLayoutPlugin.cs
  src/Whim.Tests/Commands/CoreCommandsTests.cs
  src/Whim.Tests/Workspace/WorkspaceManagerTests.cs
  src/Whim.Tests/Workspace/WorkspaceTests.cs
  src/Whim/Butler/Butler.cs
  src/Whim/Butler/ButlerChores.cs
  src/Whim/Commands/CoreCommands.cs
  src/Whim/Layout/LayoutEngineCustomAction.cs
  src/Whim/Workspace/IWorkspace.cs
  src/Whim/Workspace/Workspace.cs
Labels: bug, core

#813 Add `NormalizeDeltaPoint` and rename other `ToUnitSquare` methods
  src/Whim.FloatingLayout/FloatingLayoutEngine.cs
  src/Whim.FloatingLayout/FloatingLayoutPlugin.cs
  src/Whim.LayoutPreview/LayoutPreviewPlugin.cs
  src/Whim.Tests/Monitor/MonitorHelpersTests.cs
  src/Whim/Butler/ButlerChores.cs
  src/Whim/Context/CoreSavedStateManager.cs
  src/Whim/Monitor/IMonitor.cs
  src/Whim/Workspace/Workspace.cs
Labels: bug, core

#815 Handle `COMException` thrown by `Microsoft.Windows.System.Power`
  src/Whim.Bar/Battery/BatteryWidget.xaml.cs
  src/Whim.Bar/Battery/BatteryWidgetViewModel.cs
Labels: bug, bar

#816 Restore windows when finding and focusing windows
  docs/docs/plugins/command-palette.md
  src/Whim.CommandPalette.Tests/CommandPaletteCommandsTests.cs
  src/Whim.CommandPalette/CommandPaletteCommands.cs
  src/Whim.Tests/Window/WindowTests.cs
  src/Whim/Butler/ButlerChores.cs
  src/Whim/Native/INativeManager.cs
  src/Whim/Native/NativeManager.cs
  src/Whim/Window/IWindow.cs
  src/Whim/Window/Window.cs
Labels: bug, command palette

#819 Automated app-rules upgrades
  src/Whim/Filter/DefaultFilteredWindowsKomorebi.g.cs
Labels: auto app rules
