Repository dalyIsaac/Whim, pull requests merged in 2024-09, with the labels that each got.

#1006 Automated app-rules upgrades
  src/Whim/Filter/DefaultFilteredWindowsKomorebi.g.cs
Labels: auto app rules

#1011 JSON config for keybinds
  .config/dotnet-tools.json
  .github/workflows/commit.yml
  .github/workflows/docs_commit.yml
  .github/workflows/release.yml
  .gitignore
  Directory.Packages.props
  Whim.sln
  docs/docs/customize/yaml.md
  docs/docs/toc.yml
  scripts/Generate-SourceFromSchema.ps1
  src/Whim.FocusIndicator/FocusIndicatorPlugin.cs
  src/Whim.Runner/Whim.Runner.csproj
  src/Whim.Tests/Keybind/KeyModifiersTests.cs
  src/Whim.Tests/Keybind/KeybindTests.cs
  src/Whim.Tests/Keybind/VirtualKeyExtensionsTests.cs
  src/Whim.Yaml.Tests/Directory.Build.props
  src/Whim.Yaml.Tests/GlobalSuppressions.cs
  src/Whim.Yaml.Tests/Whim.Yaml.Tests.csproj
  src/Whim.Yaml.Tests/YamlLoaderTests.cs
  src/Whim.Yaml.Tests/YamlLoader_UpdateKeybindsTests.cs
  src/Whim.Yaml/GlobalSuppressions.cs
  src/Whim.Yaml/GlobalUsings.cs
  src/Whim.Yaml/Whim.Yaml.csproj
  src/Whim.Yaml/YamlLoader.cs
  src/Whim.Yaml/schema.json
  src/Whim/Keybind/KeyModifiers.cs
  src/Whim/Keybind/Keybind.cs
  src/Whim/Keybind/VirtualKeyExtensions.cs
Labels: enhancement, declarative config

#1013 Routers and Filters
  .github/workflows/docs_deploy.yml
  docs/docs/customize/yaml.md
  scripts/Generate-SourceFromSchema.ps1
  src/Whim.Tests/Router/RouterManagerTests.cs
  src/Whim.Yaml.Tests/YamlLoaderTests.cs
  src/Whim.Yaml.Tests/YamlLoader_UpdateFiltersTests.cs
  src/Whim.Yaml.Tests/YamlLoader_UpdateRoutersTests.cs
  src/Whim.Yaml/Whim.Yaml.csproj
  src/Whim.Yaml/YamlLoader.cs
  src/Whim.Yaml/schema.json
  src/Whim/Router/RouterManager.cs
  src/Whim/Router/RouterOptions.cs
Labels: enhancement, declarative config

#1016 GapsPlugin YAML config
  docs/docs/customize/yaml.md
  src/Whim.Yaml.Tests/YamlLoaderTestUtils.cs
  src/Whim.Yaml.Tests/YamlLoader_UpdateFiltersTests.cs
  src/Whim.Yaml.Tests/YamlLoader_UpdateKeybindsTests.cs
  src/Whim.Yaml.Tests/YamlLoader_UpdateRoutersTests.cs
  src/Whim.Yaml.Tests/YamlPluginLoader_GapsPluginTests.cs
  src/Whim.Yaml/Whim.Yaml.csproj
  src/Whim.Yaml/YamlLoader.cs
  src/Whim.Yaml/YamlPluginLoader.cs
  src/Whim.Yaml/schema.json
Labels: enhancement, gaps, declarative config

#1018 Automated app-rules upgrades
  src/Whim/Filter/DefaultFilteredWindowsKomorebi.g.cs
Labels: auto app rules

#1020 Automated app-rules upgrades
  src/Whim/Filter/DefaultFilteredWindowsKomorebi.g.cs
Labels: auto app rules

#1024 CommandPalette YAML config
  docs/docs/customize/yaml.md
  src/Whim.Yaml.Tests/YamlLoaderTests.cs
  src/Whim.Yaml.Tests/YamlLoader_CommandPalettePluginTests.cs
  src/Whim.Yaml/Whim.Yaml.csproj
  src/Whim.Yaml/YamlLoader.cs
  src/Whim.Yaml/YamlPluginLoader.cs
  src/Whim.Yaml/schema.json
Labels: enhancement, command palette, declarative config

#1028 FocusIndicatorPlugin YAML config
  docs/docs/customize/yaml.md
  docs/template/public/main.css
  src/Whim.FocusIndicator/FocusIndicatorConfig.cs
  src/Whim.FocusIndicator/FocusIndicatorPlugin.cs
  src/Whim.FocusIndicator/IFocusIndicatorPlugin.cs
  src/Whim.Yaml.Tests/YamlLoaderTests.cs
  src/Whim.Yaml.Tests/YamlLoaderUtilsTests.cs
  src/Whim.Yaml.Tests/YamlLoader_LoadFiltersTests.cs
  src/Whim.Yaml.Tests/YamlLoader_LoadFocusIndicatorTests.cs
  src/Whim.Yaml.Tests/YamlLoader_LoadKeybindsTests.cs
  src/Whim.Yaml.Tests/YamlLoader_LoadRoutersTests.cs
  src/Whim.Yaml/Whim.Yaml.csproj
  src/Whim.Yaml/YamlLoader.cs
  src/Whim.Yaml/YamlLoaderUtils.cs
  src/Whim.Yaml/YamlPluginLoader.cs
  src/Whim.Yaml/schema.json
Labels: enhancement, focus indicator, declarative config

#1029 LayoutPreviewPlugin YAML config
  docs/docs/customize/yaml.md
  src/Whim.Yaml.Tests/YamlLoader_LoadFocusIndicatorTests.cs
  src/Whim.Yaml.Tests/YamlLoader_LoadLayoutPreviewTests.cs
  src/Whim.Yaml/Whim.Yaml.csproj
  src/Whim.Yaml/YamlPluginLoader.cs
  src/Whim.Yaml/schema.json
Labels: enhancement, layout preview, declarative config

#1031 UpdaterPlugin YAML config
  docs/docs/customize/yaml.md
  src/Whim.Updater/UpdaterConfig.cs
  src/Whim.Yaml.Tests/YamlLoaderUtilsTests.cs
  src/Whim.Yaml.Tests/YamlLoader_LoadFocusIndicatorPluginTests.cs
  src/Whim.Yaml.Tests/YamlLoader_LoadLayoutPreviewPluginTests.cs
  src/Whim.Yaml.Tests/YamlLoader_LoadUpdaterPluginTests.cs
  src/Whim.Yaml/Whim.Yaml.csproj
  src/Whim.Yaml/YamlLoaderUtils.cs
  src/Whim.Yaml/YamlPluginLoader.cs
  src/Whim.Yaml/schema.json
Labels: enhancement, updater, declarative config

#1034 Store logs in a dedicated configurable directory
  docs/docs/customize/logging.md
  src/Whim.Tests/Files/FileManagerTests.cs
  src/Whim/File/FileManager.cs
  src/Whim/File/IFileManager.cs
  src/Whim/Logging/Logger.cs
Labels: enhancement, logging
